.alinearCentro{
    text-align: center;
}
.cardwidth{
    width: 30rem;
}  
.cartitados {
    width: calc(50% - 0.5rem);
    height: auto;
}
.Cartitdadostext{
 text-align: center;
}
.cartitatres {    
    width: calc(50% - 0.5rem);
    height: auto;
}

.cartitacuatro {
    width: 61.3rem;
    height: auto;
}

.cartita {
    width: 30rem;
}
.colores{
    right: 0px;
    top: 0px;
}
.btn-dark {
 position: absolute;
    top: 44px;
   right: 50px;
 }
 .barrasdanger{
    width: 25%;
 }

 .barraswarning{
    width: 55%;
 }
 .barrassuccess {
 width: 95%;
 }
 .ajusteSesion{
    width: 100%; max-width: 400px;
 }
 .colorIniciarSesion{
    color: rgb(1, 14, 24);
 }
 .tamanoP{
    font-size: 13px; opacity: 0.7;
 }
 .alturaTabla{
    max-height: 250px;
 }
.scrollEstatico{
    position: sticky;
    top: 0;
}
.VentasGraficoHoy{
    color: rgba(0, 0, 0, 0.66);
}
.grafico{
    position: relative;
    height: 200px;
    width: 100%;
}
.fotito{
   
    
    width: 88px;
    top: 170px;
    
}
.nombres{
    top: 150px
}